<div class="container">

	<div id="title" class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="#">HYRISE Visualizer</a>

			<%= form_tag({controller: 'data', action: 'load_table'}, {:class => 'navbar-form pull-right'}) do %>
				<%= text_field_tag(:table, nil, { placeholder: 'Table Name', :class => 'span2'}) %>
				<%= text_field_tag(:file, nil, { placeholder: 'Table File', :class => 'span2'}) %>
				<%= submit_tag('Load New Table', :class => 'btn') %>
			<% end %> 
			<!--<form class="navbar-form pull-right">
				<select>
					<option value="tables/employees.tbl">employees</option>
					<option value="tables/companies.tbl">companies</option>
				</select>
				<input type="submit" class="btn btn-primary" value="Load"></input>
			</form>-->

		</div>
	</div>

	<div id="attributes">
		<h3> Attributes </h3>
		<div class="subHeading" > Employees </div>
		<div class="btn disabled column" data-column="id" data-aggregation="none" data-type="1" data-id="0">Id

			<span class="btn btn-small popoverToggle" rel="popover" data-toggle="popover"><i class="icon-cog"></i></span>
  			<div class="popoverContent">
  				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="aggregationSelect">Aggregation:</label>
						<div class="controls">
							<select class="aggregationSelect">
								<option value="none">None</option>
								<option value="count">Count</option>
								<option value="average">Average</option>
								<option value="sum">Sum</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="chartTypeSelect">Type:</label>
						<div class="controls">
							<select class="chartTypeSelect">
							    <optgroup label="Line">
							        <option>Line</option>
							        <option>Spline</option>
							    </optgroup>
							    <optgroup label="Bar">
							        <option>Bar</option>
							        <option>Column</option>
							    </optgroup>
							    <optgroup label="Area">
							        <option>Area</option>
							        <option>Areaspline</option>
							    </optgroup>
							    <optgroup label="Scatter">
							        <option>Scatter</option>
							    </optgroup>
							    <optgroup label="Pie">
							        <option>Pie</option>
							    </optgroup>
							</select>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="btn disabled column" data-column="name" data-mode="select">Name

		<div class="btn-group" style="float:right;">
				<button class="btn btn-mini dropdown-toggle actionSelect"  data-toggle="dropdown">Action<span class="caret"></span></button>

				<ul class="dropdown-menu">
					<li>
	    				<a class="modeSelect" mode="select">Select</a>
	    			</li>
	    			<li>
	    				<a class="modeSelect" mode="group">Group</a>
	    			</li>
	    			<li>
	    				<a class="modeSelect" mode="order">Order by</a>
	    			</li>
	  			</ul>
			</div>

		</div>
		<div class="btn disabled" data-column="surname">Surname</div>
		<div class="btn disabled">Name</div>
		<div class="btn disabled">Company</div>

		<div class="subHeading"> Companies </div>
		<div class="btn disabled">Id</div>
		<div class="btn disabled">Name</div>
		<div class="btn disabled">Manager</div>

		<% index = 0 %>
		<% @scheme.each_pair do | table, columns| %>
			<div class="subHeading"> <%= table %></div>
			<% columns.each do | column | %>
				<div class="btn disabled column" data-column="<%= column[:name] %>" data-table="<%= table %>" data-mode="select" data-type="<%= column[:type] %>" data-id="<%= index %>"> 	
					<button type="button" class="close removeColumn">×</button>
					<%= column[:name] %> 
					<span class="btn btn-small popoverToggle" rel="popover" data-toggle="popover"><i class="icon-cog"></i></span>
		  			<div class="popoverContent">
		  				<form class="form-horizontal">
							<div class="control-group">
								<label class="control-label" for="aggregationSelect">Aggregation:</label>
								<div class="controls">
									<select class="aggregationSelect">
										<option value="none">None</option>
										<option value="count">Count</option>
										<option value="average">Average</option>
										<option value="sum">Sum</option>
									</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="chartTypeSelect">Type:</label>
								<div class="controls">
									<select class="chartTypeSelect">
									    <optgroup label="Line">
									        <option>Line</option>
									        <option>Spline</option>
									    </optgroup>
									    <optgroup label="Bar">
									        <option>Bar</option>
									        <option>Column</option>
									    </optgroup>
									    <optgroup label="Area">
									        <option>Area</option>
									        <option>Areaspline</option>
									    </optgroup>
									    <optgroup label="Scatter">
									        <option>Scatter</option>
									    </optgroup>
									    <optgroup label="Pie">
									        <option>Pie</option>
									    </optgroup>
									</select>
								</div>
							</div>
						</form>
					</div>
				</div>
				<% index += 1 %>
			<% end %>
		<% end %>
	</div>
	
	<div id="graphOptions">
		<button type="button" class="btn graphTypeButton" data-type="line">Line</button>
		<button type="button" class="btn graphTypeButton" data-type="bar">Bar</button>
		<button type="button" class="btn graphTypeButton" data-type="spline">Spline</button>
		<button type="button" class="btn graphTypeButton" data-type="area">Area</button>
		<button type="button" class="btn graphTypeButton" data-type="areaspline">AreaSpline</button>
		<button type="button" class="btn graphTypeButton" data-type="scatter">Scatter</button>
		<button type="button" class="btn graphTypeButton" data-type="pie">Pie</button>
	</div>
	<div id="ySettings">
		<h3> y-Axis </h3>
		<div class="axisDroppableContainer">
			Drop a column here
		</div>
	</div>
	<div id="graph" style="width:100%; height:400px;"></div>
	<div id="oppositeYSettings">
		<h3> opposite y-Axis </h3>
		<div class="axisDroppableContainer">
			Drop a column here
		</div>
	</div>
	<div id="xSettings">
		<h3> x-Axis </h3>
		<div class="axisDroppableContainer xAxis">
			Drop a column here
		</div>
	</div>

	<div id="dataTableContainer">
		<h3> Retrieved Data </h3>
		<table width="100%" class="table table-striped table-bordered" id="dataTable">
			<tr>
				<th>Test1</th>
				<th>Test2</th>
			</tr>
				
			<tr class="dataTableRow">
				<td>val11</td>
				<td>val12</td>
			</tr>

			<tr class="dataTableRow">
				<td>val21</td>
				<td>val22</td>
			</tr>
		</table>
	</div>
	
</div>